.funstuffHeroImage {
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)), 
    url("images/onLand/gauchosunset.jpeg");
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 36%;
}

p {
  text-align: left;
}