.joinHeroImg {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)), 
    url("images/roster/groupPhoto.jpeg");
  height: 75vh;
  background-position: 0px -225px;
  background-size: cover;
  width: 100%;
  display: block;
}

.googleForm {
  box-shadow: 0 0 50px rgba(217, 32, 47, 0.3);
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 50px;
}