.triviaHeroImg {
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)), 
    url("images/onLand/gauchosunset2.jpeg");
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 98%; /* 2 val: hor ver */
}

body {
  background: #f5f5f5;
}

p {
  text-align: left;
}

.quizContainer {
  box-shadow: 0 0 50px rgba(217, 32, 47, 0.3);
  background: var(--clr-white);
  width: 90%;
  max-width: 600px;
  margin: 75px auto;
  border-radius: 15px;
  padding: 30px;
} 

.quizContainer h3 {
  border-bottom: 1px solid var(--clr-black);
  padding-bottom: 20px;
  font-size: var(--fs-575);
  color: var(--clr-accent-1);
}

.quiz {
  padding-top: 20px;
}

.question {
  font-size: var(--fs-450);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-1);
}

.questionImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 15px auto 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quizButton {
  background: var(--clr-white);
  color: var(--clr-dark-grey);
  font-weight: var(--fw-semi-bold);
  width: 100%;
  border: 1px solid var(--clr-grey);
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quizButton:hover:not([disabled]) {
  background: var(--clr-dark-grey);
  color: var(--clr-white);
  border-color: var(--clr-dark-grey);
}
.quizButton:disabled {
  cursor: no-drop;
}

.nextButton {
  display: none;
  margin-bottom: 0px;
}

.correct {
  background: #dafeea;
  border-color: #01d260;
  box-shadow: 0 0 5px rgba(0, 154, 70, 0.4);

}

.incorrect {
  background: var(--clr-accent-4);
  border-color: var(--clr-accent-2);
  box-shadow: 0 0 5px rgba(217, 32, 47, 0.4);
}