/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Google Fonts - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Google Fonts - UnifrakturMaguntia */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
  --clr-accent-1: hsl(355, 74%, 49%);
  --clr-accent-2: hsl(355, 88%, 60%);
  --clr-accent-3: hsl(355, 88%, 90%);
  --clr-accent-4: hsl(355, 100%, 96%);

  --clr-black: #000;
  --clr-white: #fff;

  --ff-primary: "Poppins", sans-serif;
  --ff-title: "Open Sans", serif;
  --ff-special: "UnifrakturMaguntia", serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  /* baseline font weights */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* base font sizes */
  --fs-200: 12px;
  --fs-300: 14px;
  --fs-400: 16px;
  --fs-450: 18px;
  --fs-500: 20px; 
  --fs-550: 25px; 
  --fs-575: 28px;
  --fs-600: 35px;
  --fs-650: 50px;
  --fs-700: 70px;
  --fs-800: 80px;
  --fs-900: 100px;

  /* variable: large screen text sizes per text type */
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-600);
  --fs-secondary-heading: var(--fs-500);
  --fs-nav: var(--fs-450);
  --fs-button: var(--fs-400);
  --fs-humongous: var(--fs-900);
  --fs-huge: var(--fs-800);
  --fs-lessHuge: var(--fs-700);
  --fs-notHuge: var(--fs-650);
}

/* variable: text styling for smaller screen sizes */
@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-300);
    --fs-primary-heading: var(--fs-500);
    --fs-secondary-heading: var(--fs-450);
    --fs-nav: var(--fs-300);
    --fs-button: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End CSS reset and defaults */

/* General Styling */
body {
  /* font-size: var(--fs-body); */
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
  background: #f0faff;
}

.flex { /* Custom flex property */
  display: flex;
  gap: var(--gap, 1rem);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  --max-width: 1000px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* Navigation Bar Styling */
.logo {
  width: 100px;
  margin-right: 10px;
}

.logoTitle {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.nav {
  padding: 15px 200px;
  background: var(--clr-accent-1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: var(--clr-white);
  text-decoration: none;
}
.nav .navTitle {
  font-family: var(--ff-title);
  font-size: var(--fs-600);
  font-weight: 600;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: var(--clr-white);
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  color: var(--clr-accent-1);
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--clr-white);
  padding: 0 15px 0 50px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
  margin-right: 8px;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 1350px) { 
  .nav {
    padding: 15px 50px; /*changes the margin from the logo and the search icon */
  }
  .nav .search-box {
    right: 100px;
    max-width: 500px; /*changes size of search box on the first decrease */
  }
}
@media screen and (max-width: 1000px) { 
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px; /*changes size of search box on the second decrease */
  }
}
@media screen and (max-width: 900px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: var(--clr-white);
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--clr-white);
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .logo {
    width: 75px;
  }
}
@media screen and (max-width: 400px) { 
  .nav {
    padding: 15px 15px;
  }
  .nav .navTitle {
    font-family: var(--ff-title);
    font-size: var(--fs-575);
    font-weight: 550;
  }
}
@media screen and (max-width: 350px) { 
  .nav {
    padding: 15px 8px;
  }
  .nav .navTitle {
    font-family: var(--ff-title);
    font-size: var(--fs-550);
    font-weight: 500;
  }
}

/* Hero Banner Section */
.hero {
  position: relative;
  color: var(--clr-white);
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");
  height: 100vh;
  background-size: cover;
  background-position: bottom; /* which part of the image it shows, opposite of where it crops from*/
  width: 100%;
  display: block;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heroText h1 {
  font-family: var(--ff-special);
  font-size: var(--fs-humongous);
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .heroText h1 {
    font-size: var(--fs-huge);
  }
}
@media screen and (max-width: 800px) {
  .heroText h1 {
    font-size: var(--fs-lessHuge);
  }
}
@media screen and (max-width: 650px) {
  .heroText h1 {
    font-size: var(--fs-notHuge);
  }
  .heroImage {
    background-position: -100px;
  }
}
@media screen and (max-width: 460px) {
  .heroText h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .heroText h1 {
    font-size: var(--fs-575);
  }
  .heroImage {
    background-position: -200px;
  }
}

/* Typewriter Effect */
.typerLarge {
  margin-top: 20px;
  font-family: var(--ff-body);
  text-align: left;
  font-size: var(--fs-600);
  text-decoration-line: none;
  color: var(--clr-black);
  font-weight: 300;
  overflow: hidden;  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--clr-accent-1); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto;  Gives  scrolling effect as the typing happens, could add*/
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* Responsive */
@media screen and (max-width: 925px) {
  .typerLarge {
    font-size: var(--fs-550);
    text-decoration-line: none;
    font-weight: 300;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--clr-accent-1); }
}

/* Typer for mobile view */
.typerSmall {
  display: none;
}

@media screen and (max-width: 675px) {
    .typerLarge {
       display:none;
    }

    .typerSmall {
      display: block;
      margin-top: 20px;
      font-family: var(--ff-body);
      text-align: left;
      font-size: var(--fs-550);
      text-decoration-line: none;
      color: var(--clr-black);
      font-weight: 300;
      overflow: hidden;  /* Ensures the content is not revealed until the animation */
      border-right: .15em solid var(--clr-accent-1); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      /* margin: 0 auto;  Gives  scrolling effect as the typing happens, could add*/
      letter-spacing: .10em; /* Adjust as needed */
      animation: 
        typing 5s steps(40, end),
        blink-caret 0.75s step-end infinite;
    }
}

/* Responsive */
@media screen and (max-width: 505px) {
  .typerSmall {
    font-size: var(--fs-400);
    text-decoration-line: none;
    font-weight: 300;
  }
}
@media screen and (max-width: 335px) {
  .typerSmall {
    font-size: var(--fs-300);
    text-decoration-line: none;
    font-weight: 300;
  }
}