.twentyfourtyeightHeroImg {
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)), 
    url("images/other/ptwoodenboatfestival.jpg");
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

p {
  text-align: left;
}

/* 2048 Board Styling */
#board {
  width: 400px;
  height: 400px;

  background-color: #e3e3e3;
  border: 6px solid #D3D3D3;

  margin: 0 auto;
  display: flex; /* 2048 tiles will be inline */
  flex-wrap: wrap; /* 2048 tiles will be inline */
}

/* Template tile */
.tile {
  width: 97px;
  height: 97px;
  border: 3px solid #D3D3D3;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Creating the different sailboat tiles */
.openskiff {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/openskiffs.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.sabot {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/sabot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.sunfish {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/sunfish.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.ilca {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/ilca2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.fj {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/fj.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.fourtwenty {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/420.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.moth {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/moth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.snipe {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/snipe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.twentyniner {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/29er.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.fortyniner {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/49er.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.j22 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/j22.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.melges24 {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/melges24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.yachts {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)), 
    url("/images/sailboats/yachts2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}