<header>
  <nav class="nav" role="navigation">
    <i class="uil uil-bars navOpenBtn"></i>
    <div class="logoTitle">
      <a href="#"><img src="images/other/logo.png" alt="logo" class="logo"></a>
      <a href="#" class="navTitle">LJHS Sailing</a>
    </div>

    <ul class="nav-links">
      <i class="uil uil-times navCloseBtn"></i>
      <li><a href="#">Home</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">2024-25 Season</a></li>
      <li><a href="#">Join</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <i class="uil uil-search search-icon" id="searchIcon"></i>
    <div class="search-box">
      <i class="uil uil-search search-icon"></i>
      <input type="text" placeholder="Search here..."/>
    </div>
  </nav>
</header>